#intro-expand-btn,
#more-documentaries,
.new-header .inline-the-guardian-roundel {
    // background-image: none;
}

.coming-soon {
    display: none;
}

.meta__supporter:not(.natwest) {
    display: none;
}

.meta__social {
    border-top: solid 1px #646464!important;
}

.meta__date {
    @include mq($until:600px) {
    border-top: solid 1px #646464!important;
}
}

.meta__supporter.natwest {
    .supporter-logo img {
        width: 58px;
        height: 64px;
        margin-top: 6px;
    }

    .supporter-info:after {
        // display: none;
    }
}

.fc-container__inner {
    border-color: #646464!important;
}

.docs__poster {
    &--series-title {
        display: block;
        color: #fff;
        transform: translateX(-2px);
        font-size: 18px;
        font-weight: 900;
        line-height: 22px;
        @include mq(phablet) {
            margin-top: 12px;
            transform: translateX(1px);
            margin-bottom: 3px;
        }
        @include mq(tablet) {
            transform: translateX(12px);
        }
        @include mq($from:tablet, $until:desktop) {
            .cancelled-autoplay &,
            .will-autoplay & {
                margin-bottom: -9px;
            }
        }
    }
    @include mq(desktop) {
        &--autoplay-stop-button {
            position: relative;
            transform: translate(6px, 52px);
            bottom: auto;
            left: auto;
        }
    }

    &--headline {
        @include mq(phablet) {
            margin-top: 0;
        }
        @include mq(tablet) {
            max-width: 620px;
        }
    }

    &--title.cancelled-autoplay,
    &--title.will-autoplay {
        @include mq(desktop) {
            padding-bottom: 0;
        }
    }

    &--title.cancelled-autoplay {
        @include mq(desktop) {
            padding-bottom: 0;

            .docs__poster--autoplay-stop-button {
                display: inline-block;
                transform: scale(0.9) translate(6px, 58px);
            }
        }
    }
}

.docs__poster--wrapper--playing + .docs--chapters-wrapper {
    display: none;
}

#inner-city-cricket {
    margin-top: 18px;

    .fc-container__header__title:after {
        background-color: #646464!important;
    }

    .doc-card__description,
    .fc-container__header__title {
        color: #dcdcdc;
    }

    .doc-card__description {
        font-weight: 400;

        em {
            font-style: normal;
            font-weight: 700;
            color: #dcdcdc;
        }
    }

    .fc-slice__item+.fc-slice__item:before {
        border-left: none;
    }

    .fc-slice-wrapper {
        margin: 0;
    }

    .fc-slice__item {
        // display: flex;
        // width: 50%;
        // float: left;
        display: inline-block;
        vertical-align: top;
        padding-top: 0;
        margin-bottom: 20px;
        width: 50%;
    }

    .spacer {
        visibility: hidden;
    }

    .fc-slice__item:hover img {
        opacity: 0.8;
    }
}
// body[data-this-film='north'] [data-this-card='north'] {
//     display: none !important;
// }
// body[data-this-film='south'] [data-this-card='south'] {
//     display: none !important;
// }
// body[data-this-film='west'] [data-this-card='west'] {
//     display: none !important;
// }
// body[data-this-film='midlands'] [data-this-card='midlands'] {
//     display: none !important;
// }

.fc-container__header__title {
    display: block!important;
    float: none!important;
}

.doc-card {
    position: relative;
    background-color: #161616;
    color: #F6F6F6;
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
    width: 100%;
    font-size: 16px;
    line-height: 18px;

    &:after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: #646464;
        right: -10px;
        top: 0;
        @include mq(tablet) {
            height: 213.438px;
        }
        @include mq(desktop) {
            height: 293.469px;
        }
    }
}

.pod-card {
    &:after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: #646464;
        right: -10px;
        top: 0;
        @include mq(tablet) {
            height: 160px;
        }
        @include mq(desktop) {
            height: 220px;
        }
    }
}
@media (min-width: 30em) {
    .doc-card {
        font-size: 18px;
        line-height: 20px;
    }
}
@media (min-width: 41.25em) {
    .doc-card {
        font-size: 16px;
        line-height: 18px;
    }
}
@media (min-width: 46.25em) {
    .doc-card {
        font-size: 18px;
        line-height: 20px;
    }
}

.doc-card__poster {
    max-width: 100%;
    display: block;
    margin-bottom: 6px;
    position: relative;
}

.fc-container__header__standfirst {
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
}

.doc-card__description,
.fc-container__header__standfirst {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    padding-bottom: 6px;
    margin: 0;
    color: #adadad;
    // font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    @include mq(desktop) {
        font-size: 16px;
        line-height: 20px;
    }
}

.doc-card .doc-card__link {
    text-indent: -9em;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.more__info--copy,
.more__info--header {
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
    padding: 0 10px;
}

.more__info--copy {
    color: #adadad;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-top: -3px;
    @include mq(desktop) {
        font-size: 16px;
        line-height: 22px;
    }
}

.more__info--header {
    color: #ffffff;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    margin-top: -3px;
    margin-bottom: 6px;
    @include mq(desktop) {
        font-size: 24px;
        line-height: 28px;
    }
}

.more__info--cta {
    color: #dcdcdc;
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background: #545454;
    border-radius: 100px;
    padding: 7px 30px 7px 15px;
    margin-left: 10px;
    display: inline-block;
    margin-top: 12px;
    position: relative;

    &:hover {
        background: #444;
    }

    &:after {
        content: '';
        background-image: url('https://uploads.guim.co.uk/2018/09/05/btb-right2.svg');
        background-repeat: no-repeat;
        width: 19px;
        height: 18px;
        position: absolute;
        right: 5px;
        top:6.5px;
    }
}

.half-width {
    width: 100%!important;
    @include mq(tablet) {
        width: 50%!important;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: #646464;
        right: 0;
        top: 0;
    }
}

.top-border {
    @include mq($until:tablet) {
        border-top: solid 1px #646464;
        padding-top: 12px!important;
    }
}

.no-border {
    &:after,
    &:before {
        display: none;
    }
}
// .border::after{
//     content: '';
//     display: none;
//     position: absolute;
//     height: 1.875rem;
//     width: 0.0625rem;
//     background-color: #dcdcdc;
//     right: -0.6875rem;
//     top: -0.375rem;
//
// }
// .fc-item {
//     margin-right: 0;
// }
