#more-documentaries,
#intro-expand-btn,
.coming-soon {
    display: none;
}

.meta__supporter:not(.natwest) {
    display: none;
}
.meta__supporter.natwest {
    .supporter-logo img {
        width: 58px;
        height: 64px;
        margin-top: 6px;
    }
    .supporter-info:after {
        display: none;
    }
}

.docs__poster {
    &--series-title {
        display: inline-block;
        color: #fff;
        transform: translateX(-2px);
        font-size: 18px;
        font-weight: 900;
        line-height: 22px;
        @include mq(phablet) {
            display: block;
            margin-top: 12px;
            transform: translateX(1px);
            margin-bottom: 3px;
        }
        @include mq(tablet) {
            transform: translateX(12px);
        }
        @include mq($from:tablet, $until:desktop) {
            .will-autoplay &,
            .cancelled-autoplay & {
                margin-bottom: -9px;
            }
        }
        &:after {
            body[data-this-film='north'] & {
                content: ': The North';
            }
            body[data-this-film='south'] & {
                content: ': The South';
            }
            body[data-this-film='west'] & {
                content: ': The West';
            }
            body[data-this-film='midlands'] & {
                content: ': The Midlands';
            }
        }
    }
    @include mq(desktop) {
        &--autoplay-stop-button {
            position: relative;
            transform: translate(6px, 52px);
            bottom: auto;
            left: auto;
        }
    }
    &--headline {
        @include mq(phablet) {
            margin-top: 0;
        }
        @include mq(tablet) {
            max-width: 620px;
        }
    }
    &--title.cancelled-autoplay,
    &--title.will-autoplay {
        @include mq(desktop) {
            padding-bottom: 0;
        }
    }
    &--title.cancelled-autoplay {
        @include mq(desktop) {
            padding-bottom: 0;
            .docs__poster--autoplay-stop-button {
                display: inline-block;
                transform: scale(0.9) translate(6px, 58px);
            }
        }
    }
}


.docs__poster--wrapper--playing + .docs--chapters-wrapper {
    display: none;
}

#inner-city-cricket {
    margin-top: 18px;
    .fc-container__header__title,
    .doc-card__description {
        color: #dcdcdc;
    }
    .doc-card__description {
        font-weight: 400;
        em {
            font-style: normal;
            font-weight: 700;
            color: #dcdcdc;
        }
    }
    .fc-slice__item+.fc-slice__item:before {
        border-left: 0.0625rem solid transparent;
    }
    .spacer {
        visibility: hidden;
    }
    .fc-slice__item:hover img {
        opacity: 0.8;
    }
}


body[data-this-film='north'] [data-this-card='north'] {
    display: none !important;
}
body[data-this-film='south'] [data-this-card='south'] {
    display: none !important;
}
body[data-this-film='west'] [data-this-card='west'] {
    display: none !important;
}
body[data-this-film='midlands'] [data-this-card='midlands'] {
    display: none !important;
}


.doc-card {
  position: relative;
  background-color: #161616;
  color: #F6F6F6;
  font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
  width: 100%;
  font-size: 16px;
  line-height: 18px; }
  @media (min-width: 30em) {
    .doc-card {
      font-size: 18px;
      line-height: 20px; } }
  @media (min-width: 41.25em) {
    .doc-card {
      font-size: 16px;
      line-height: 18px; } }
  @media (min-width: 46.25em) {
    .doc-card {
      font-size: 18px;
      line-height: 20px; } }
  .doc-card__poster {
    max-width: 100%;
    display: block;
    margin-bottom: 6px; }
  .doc-card__description {
    font-size: inherit;
    line-height: inherit;
    font-weight: 500;
    padding-bottom: 6px;
    margin: 0; }
  .doc-card .doc-card__link {
    text-indent: -9em;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
